#imgFun {
    width: 16em;
    height: 17em
};

.card-img-top {
    width: 5em;
    height: 5em
};

#photoDisplay {
    border-radius: 15px;
}

#carouselItem {
    height: 400px;
    width: 800px;
}

.imageCRSL {
    display: block;
    height: 400px;
    width: 800px;
}