#imgProfile {
    border: 0.1em solid rgb(103, 31, 112);
    ;
    border-radius: 5%;
    width: 16em;
    height: 16em;
}

.card-title {
    font-weight: bold;
    font-size: large;
}

.card-home {
    padding: 3px;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-home:hover {
    box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.2);
}

.workImg {
    border-radius: 8px;
    width: 25em;
    height: 32em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
