.card-header {
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-text {
    font-weight: bold;
    color: rgb(55, 55, 146);
}

.card-skills {
    height: 100%;
}