.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* HEADER */

#Logo {
  max-width: 4em;
  max-height: 4em;
}

#navbar {
  background-color: #fad178;
  padding: 25px;
}

.nav-link {
  font-size: large;
  font-weight:400;
}

/* NavItem > .nav-link > :active {
  /* color: black;
  border-bottom: 1px solid rgb(15, 15, 15);
} */

/* FOOTER */

.site-footer {
  background-image: linear-gradient(#fad178, rgb(248, 233, 201));
  padding: 20px 0;
}

.linkfont {
  padding: 4px;
}
