@import url('https://fonts.googleapis.com/css?family=Ubuntu|Roboto|Pacifico');

.App {
  text-align: center;
  background-color: rgb(249, 246, 238);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bodyText {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: large;
  color: black;
  text-align: start;
}

h1 {
  font-family: "Pacifico", "Open Sans", sans-serif;
}

.bodyh2, .bodyh3 {
  font-family: "Ubuntu", "Open Sans", "Pacifico";
  color: rgb(103, 31, 112);
}

/* HEADER */

#nameHeader {
  color: rgb(103, 31, 112);
  text-decoration: none;
}

#Logo {
  max-width: 4em;
  max-height: 4em;
}

#navbar {
  background-color: #fad178;
  padding: 10px;
}

.nav-link {
  font-size: large;
  font-weight:400;
}

/* .nav-link:hover {
  border-bottom: 1px solid rgb(27, 26, 26);
} */

/* CARD DETAILS */

/* .cardDetail {
  height: 100%;
} */

.backLink {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: large;
  text-align: start;
}

.serviceText {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 17px;
  color: black;
  text-align: start;
}

/* FOOTER */

.site-footer {
  background-image: linear-gradient(#fad178, rgb(245, 221, 170));
  padding: 10px 0;
}

.linkContent {
  padding: 4px;
}

.linkFont {
  color: black;
  text-decoration: none;
  font-size: 18 px;
}
