.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* HEADER */

#nameHeader {
  color: rgb(129, 50, 123);
}

#Logo {
  max-width: 4em;
  max-height: 4em;
}

#navbar {
  background-color: #fad178;
  padding: 25px;
}

.nav-link {
  font-size: large;
  font-weight:400;
}

/* .nav-link:hover {
  border-bottom: 1px solid rgb(27, 26, 26);
} */

.bodyText {
  text-align: start;
}


/* FOOTER */

.site-footer {
  background-image: linear-gradient(#fad178, rgb(248, 233, 201));
  padding: 20px 0;
}

.linkContent {
  padding: 4px;
}

.linkFont {
  color: black;
  text-decoration: none;
  font-size: 18 px;
}
